<body id="user-exercise"> 
     <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="<%=root_path%>">FitNasty</a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><a href="<%=user_path(@user)%>">Dashboard</a></li>
           <li><a href="<%=progress_path(@user)%>">Progress Detail</a></li>
           <li><a href="<%=new_food_path%>">Add Food</a></li>
           <li><a href="<%=new_user_exercise_path%>">Add Exercise</a></li>
           <li><a href="<%=new_user_sleep_path%>">Add Sleep</a></li>
           <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
         </ul>
       </div>
     </div>
   </nav>

<div id="form-main">
  <div id="form-enter">
    <div id="new-form">

      <div style="text-align: center;"><h1>Did you Exercise today?</h1></div>
      <%= form_for(@exercise) do |f| %>
      <div style="text-align: center;"><%= f.label :activity %></div>
      <div style="text-align: center; color: black;"><%= f.collection_select(:exercise_id, Exercise.all, :id, :activity) %></div>
      <div style="text-align: center;"><%= f.label "Duration (hours)" %></div>
      <div style="text-align: center; color: black;"><%= f.number_field :duration %></div>
      <div style="text-align: center;"><%= f.label :date_completed %></div>
      <div style="text-align: center; color: black;">><%= f.date_field :date_completed %></div><br><br>
      <div style="text-align: center; color: black;"><%= f.submit%></div>
      <% end %>

    </div>
  </div>
</div>
</body>
