
<body id="user-signup">
  <div id="form-main">
    <div id="form-enter">
      <div id="new-form">

        <div style="text-align: center;"><h1>User Form: </h1></div>
        <%=form_for(@user) do |f| %>
        <div style="text-align: center;"><%= f.label :name %></div>
        <div style="text-align: center; color: black;"><%= f.text_field :name %><br></div>
        <div style="text-align: center;"><%= f.label :age %></div>
        <div style="text-align: center; color: black;"><%= f.number_field :age %></div><br>
        <div style="text-align: center;"><%= f.label :height %></div>
        <div style="text-align: center; color: black;"><%= f.number_field :height%></div><br> 
        <div style="text-align: center;"><%= f.label :gender %></div>
        <div style="text-align: center; color: black;"><%= f.text_field :gender %></div><br>
        <div style="text-align: center;"><%= f.label :start_weight %></div>
        <div style="text-align: center; color: black;"><%= f.number_field :start_weight %></div><br>
        <div style="text-align: center;"><%= f.label :goal_weight %></div>
        <div style="text-align: center; color: black;"><%= f.number_field :goal_weight %></div><br>
        <div style="text-align: center;"><%= f.label :start_date %></div>
        <div style="text-align: center; color: black;"><%= f.date_field :start_date %></div><br>
        <div style="text-align: center;"><%= f.label :goal_date %></div>
        <div style="text-align: center; color: black;"><%= f.date_field :goal_date %></div><br>
        <div style="text-align: center;"><%= f.label :password %></div>
        <div style="text-align: center; color: black;"><%= f.password_field :password %></div><br>
        <div style="text-align: center; color: black;"><%= f.submit %></div>
        <% end %>

      </div>
    </div>
  </div>

</body>