<body id="user-home"> 
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="<%=root_path%>">FitNasty</a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><a href="<%=new_food_path%>">Add Food</a></li>
           <li><a href="<%=new_user_exercise_path%>">Add Exercise</a></li>
           <li><a href="<%=new_user_sleep_path%>">Add Sleep</a></li>
           <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
         </ul>
       </div>
     </div>
   </nav>


<h1>User Form: </h1>
<%=form_for(@user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :age %>
<%= f.number_field :age %><br>
<%= f.label :height %>
<%= f.number_field :height%><br> <!-- added height -->
<%= f.label :gender %>
<%= f.text_field :gender %><br>
<%= f.label :start_weight %>
<%= f.number_field :start_weight %><br>
<%= f.label :goal_weight %>
<%= f.number_field :goal_weight %><br>
<%= f.label :start_date %>
<%= f.date_field :start_date %><br>
<%= f.label :goal_date %>
<%= f.date_field :goal_date %><br>
<%= f.label :password %>
<%= f.password_field :password %><br>
<%= f.submit %>
<% end %>


</body>