<body id="user-home">
   <nav class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="<%=root_path%>"><%= image_tag("FITNASTY-black.png", size: "125x30")%></a>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li><a href="<%=user_path%>">Dashboard</a></li>
           <li><a href="<%=progress_path%>">Progress Detail</a></li>
           <li><a href="<%=new_food_path%>">Add Food</a></li>
           <li><a href="<%=new_user_exercise_path%>">Add Exercise</a></li>
           <li><a href="<%=new_user_sleep_path%>">Add Sleep</a></li>
           <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
         </ul>
       </div>
     </div>
   </nav>

	<div class="row" style="text-align: center;">
	  <h1><%= @user.progress_message %></h1>
	</div>

	<div class="row" id="progress-chart">
	  <h1>Progress Chart</h1>
	  <%= line_chart [
	    {name: "Projection", data: @user.progress_projection },
	    {name: "Actual Progress", data: @user.progress_in_action }
	  ], min: (@user.start_weight - ((@user.goal_weight - @user.start_weight) * 2).abs),
	    max:(@user.start_weight + ((@user.goal_weight - @user.start_weight) * 2).abs),
      xtitle: "Date",
      ytitle: "Weight" %>
	</div>

</body>
