<h1>Welcome <%= @user.name %></h1>

<div>
  <div>
    <h2>Daily Sum Up</h2>
    <p> Today's Caloric Intake: <%=  @user.total_calories_eaten %></p>
    <p> Calories Burned Total: <%= @user.total_calories_burned %></p>
    <p> Caloric Net: <%= @user.net_calories %></p>

  </div>
</div>


<%= link_to 'Log Out', logout_path, method: :delete%>
