<html>
  <head>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <h1>Welcome <%= @user.name %></h1>

    <div>
      <div>
        <h2>Daily Sum Up</h2>
        <p> Today's Caloric Intake: <%=  @user.total_calories_eaten %></p>
        <p> Calories Burned Total: <%= @user.total_calories_burned %></p>
        <p> Caloric Net: <%= @user.net_calories %></p>
        <p> Current Weight: <%= @user.show_weight %></p>
      </div>

      <div>
        <h2>Food Log</h2>
      </div>
      <% food_log_hash = {} %>
      <% @user.user_foods.each {|x| food_log_hash[x.date_eat] = x.calories }%>
      <%= line_chart food_log_hash, xtitle: "Date", ytitle: "Caloric Intake"%>
      <div>
        <h2>Sleep Log</h2>
        <% sleep_log_hash = {} %>
        <% @user.user_sleeps.each {|x| sleep_log_hash[x.sleep_date] = x.duration }%>
        <%= line_chart sleep_log_hash, xtitle: "Date", ytitle: "Sleep Duration" %>
      </div>

      <div>
        <h2>Exercise Log</h2>
        <% exercise_log_hash = {} %>
        <% @user.user_exercises.each {|x| exercise_log_hash[x.date_completed] = x.calories }%>
        <%= line_chart exercise_log_hash, xtitle: "Date", ytitle: "Calories Burned" %>
      </div>

    </div>


    <%= link_to 'Log Out', logout_path, method: :delete%>

  </body>
</html>
