<h1>What did you Eat Today?</h1>
<%= form_for @food, url: foods_path do |f| %>
<%=f.label :item %>
<%= fields_for @newfood do |a| %>
<%= a.text_field :item %>
<% end %>
<%=f.label :date_eat %>
<%=f.date_field :date_eat %>
<%=f.submit%>
<% end %>

<% if @food.calories %>

Serving Size: <%= @serving_size %>
Calories per Serving Size <%= @food.calories %>
<%= form_tag, foods_path do %>
<%= label_tag(:servings, "Number of Servings:") %>
<%= number_field_taf(:servings) %>
<%= submit_tag %>
<% end %>

<% end %>
