<h1>Exercise Form</h1>
<%= form_for(@exercise) do |f| %>
<%=f.label :activity %>
<%exercise = ['running','swimming', 'lifting', 'biking', 'walking'] %>
<ul>
  <% exercise.each do |x|%>
  <% f.check_box x.to_s %>
  <% end %>
</ul>

<%=f.label :duration %>
<%=f.number_field :duration %>
<%=f.label :intensity_level %>
<%#<%=f.select(:intensity_level, :intensity_level_id [['low',1], ['medium',2], ['high',3]]) %>%>
<%=f.label :date_completed %>
<%=f.date_field :date_completed %>
<%=f.submit%> 
<% end %>
